<a href="https://colab.research.google.com/github/ranganeeraj/Test/blob/main/CSV_Download.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Link - https://github.com/adityarc19/aqi-india/blob/main/city_day.csv

In [4]:
import pandas as pd

In [18]:
url = 'https://raw.githubusercontent.com/adityarc19/aqi-india/main/city_day.csv'
df = pd.read_csv(url, header=None, sep='\n')
df = df[0].str.split(',', expand=True)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
1,Ahmedabad,2015-01-01,,,0.92,18.22,17.15,,0.92,27.64,133.36,0.0,0.02,0.0,,
2,Ahmedabad,2015-01-02,,,0.97,15.69,16.46,,0.97,24.55,34.06,3.68,5.5,3.77,,
3,Ahmedabad,2015-01-03,,,17.4,19.3,29.7,,17.4,29.07,30.7,6.8,16.4,2.25,,
4,Ahmedabad,2015-01-04,,,1.7,18.48,17.97,,1.7,18.59,36.08,4.43,10.14,1.0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29527,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.3,2.24,12.07,0.73,41.0,Good
29528,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29529,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.0,68.0,Satisfactory
29530,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.8,10.03,0.52,9.84,28.3,0.0,0.0,0.0,54.0,Satisfactory
29531,Visakhapatnam,2020-07-01,15.0,66.0,0.4,26.85,14.05,5.2,0.59,2.1,17.05,,,,50.0,Good